body {
    background-color: hsl(0, 0%, 96%);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.tituloOferta {
    color: hsl(217, 10%, 50.8%);
}

.contenedorContador {
    display: flex;
    align-items: center;
}


.contenedorCardsOfertas {
    margin-top: 70px !important;
}

hr {
    color: #949494;
    margin-bottom: 40px;
}

.testboton {
    margin-top: 130px !important;
}

.tituloBe {
    color: hsl(0, 0%, 0%);
    font-size: 50px;
    margin-top: 50px !important;
}

.tituloBe2 {
    color: #15b1e5;
    font-size: 50px;
}