.imagenCat {
    width: auto !important;
}

.tituloCat {
    font-size: 150%;
    text-shadow: 2px 2px 10px black;
}

.categoriasContenedor {
    display: flex;
    flex-direction: row;
}

.temporadaCard {
    color: cyan;
}

.mesCard {
    background-color: aliceblue;
    border-radius: 50%;
    max-width: min-content;
    color: black;
}


@media screen and (max-width : 500px) {
    .cardImangeContenedor {
        width: 350px !important;
    }
}

@media screen and (max-width : 360px) {
    .cardImangeContenedor {
        width: 300px !important;
    }
}